.today-list {
    list-style: none;
}

.task .info{
    color: black;
    border: none;
}

.task .info:disabled {
    background-color: white;
}

.yyy{
    background-color: green;
}

.ooo{
    background-color: red;
}